@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply min-h-full h-full text-[16px];
}

body {
    @apply font-sans font-normal normal-case text-grey-300 text-base tracking-normal;
}

#app {
    @apply h-full;
}

a {
    @apply font-bold underline hover:no-underline;
}

.inverted a {
    @apply text-white;
}

p, span, div, a, label, li {
    @apply text-base15-sm;
}

@screen lg {
    p, span, div, a, label  {
        @apply text-base;
    }
}

.page-title {
    @apply text-3xl leading-tight sm:text-base15-5xl lg:text-5xl 3xl:text-6xl 4xl:text-7xl font-cubano uppercase text-grey-400;
}

.inverted span,
.inverted li,
.inverted p,
.inverted label {
    color: rgba(255, 255, 255, 0.75)
}

.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5 {
    @apply text-white;
}

.container {
    @apply w-full max-w-7xl mx-auto;
}

.content {
    @apply px-5 md:px-[30px] lg:px-10 py-6 xl:px-[60px] 3xl:px-20;
}

.bg-overlay {
    background: rgba(255,255,255,0.5);
}

.slide-leave-active, .slide-enter-active {
    transition: transform .375s ease;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}